<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OADBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=F:\工作空间\个人项目\EasyOA\EasyOA\OAEntities\OADB.mdf;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="IP" value="127.0.0.1"/>
    <add key="Port" value="8500"/>
  </appSettings>
</configuration>